<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma Page Web</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="container">
        <div class="title-block">
            <h1>Bienvenue sur ma page web!</h1>
        </div>
        <div class="main-blocks">
            <div class="block">
                <div class="image-container"><img src="../Images/TicTacToe.png" alt="Image 1"></div>
                <div class="divider"></div>
                <div class="title">
                    <a href="/tic_tac_toe"><button>tic_tac_toe</button></a>
                </div>
            </div>
            <div class="block">
                <div class="image-container"><img src="../Images/Snake.png" alt="Image 2"></div>
                <div class="divider"></div>
                <div class="title">
                    <a href="/snake"><button>snake</button></a>
                </div>
            </div>
            <div class="block">
                <div class="image-container"><img src="../Images/Keyboard_cps.png" alt="Image 3"></div>
                <div class="divider"></div>
                <div class="title">
                    <a href="/keyboard_cps"><button>keyboard_cps</button></a>
                </div>
            </div>
            <div class="block">
                <div class="image-container"><img src="../Images/Memory_test.png" alt="Image 4"></div>
                <div class="divider"></div>
                <div class="title">
                    <a href="/memory_test"><button>memory_test</button></a>
                </div>
            </div>
            <div class="block">
                <div class="image-container"><img src="../Images/Bulleur.png" alt="Image 5"></div>
                <div class="divider"></div>
                <div class="title">
                    <a href="/visual_sort"><button>visual_sort</button></a>
                </div>
            </div>
            <div class="block">
                <div class="image-container"><img src="../Images/Jeu_Bonus.png" alt="Image 6"></div>
                <div class="divider"></div>
                <div class="title">
                    <a href="/plateformer"><button>visual_sort</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
