<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
</head>

<body>
    <div class="tic_tac_toe">
        <div class="intro">
            <button id="startButton">Start Game</button>
            <p>Click on a square to place your X or O</p>
            <p>Player 1: X</p>
            <p>Player 2: O</p>
        </div>
        <div class="game">
            <div class="board">
                <div class="board-row">
                    <div class="board-cell"></div>
                    <div class="board-cell"></div>
                    <div class="board-cell"></div>
                </div>
                <div class="board-row">
                    <div class="board-cell"></div>
                    <div class="board-cell"></div>
                    <div class="board-cell"></div>
                </div>
                <div class="board-row">
                    <div class="board-cell"></div>
                    <div class="board-cell"></div>
                    <div class="board-cell"></div>
                </div>
            </div>
        </div>
        <div class="board">
            <div class="result"></div>
        </div>
        <div class="turns">
            <div class="turn">Player 1</div>
            <button onclick="restartGame()" class="restart">Restart</button>
          </div>
    </div>
<script src="../static/js/Tictactoe.js"></script>
</body>

</html>