body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #970dd2;
}

.container {
    width: 80%;
    margin: auto;
}

.title-block {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.main-blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.block {
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-container {
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.divider {
    border-top: 2px solid #000;
    margin: 10px 0;
}

.title {
    text-align: center;
    font-weight: bold;
}
